@import "tailwindcss";

::selection {
  background-color: #00828261;
}

:root {

}

@theme inline {

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

body {
  background-color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
}

.subtitle {
  font-size: 1rem;
  color: #666;
  margin-bottom: 0.4rem;
  margin-top: -7px;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

button{
  cursor: pointer;
}

@keyframes sponsor-scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-sponsor-scroll {
  animation: sponsor-scroll 60s linear infinite;
}