@import "tailwindcss";

:root {

}

@theme inline {

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

/* html {
  scrollbar-gutter: stable;
} */

body {
  background-color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
}

.subtitle {
  font-size: 1rem;
  color: #666;
  margin-bottom: 0.4rem;
  margin-top: -7px;
}